<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <input name="id" type="hidden" th:value="${article.id}">
        <!--        <div class="layui-form-item">-->
        <!--            <label for="L_title" class="layui-form-label">-->
        <!--                <span class="x-red">*</span>文章名-->
        <!--            </label>-->
        <!--            <div class="layui-input-inline">-->
        <!--                <input type="text" id="L_title" name="title" required="" lay-verify="title"-->
        <!--                       autocomplete="off" class="layui-input" th:value="${article.title}">-->
        <!--            </div>-->
        <!--            <div class="layui-form-mid layui-word-aux">-->
        <!--                <span class="x-red">*</span>将会成为您唯一的登入名-->
        <!--            </div>-->
        <!--        </div>-->
        <fieldset class="layui-elem-field">
            <legend>文章标题</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.title}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>作者</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.writer}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>发布时间</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.atime}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>文章类型</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.atype}">
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>内容</legend>
            <div class="layui-field-box">
            <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.scontent}">
            </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>备注</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.attachment}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>状态</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${article.isenabled}">
                </div>
            </div>
        </fieldset>


    </form>

</div>
</div>
</div>
<script>
    var layer_index;
    var layedit;
    layui.use('layedit', function(){
        layedit = layui.layedit;
        layer_index= layedit.build('demo'); //建立编辑器
    });
</script>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            //detail富文本域中的lay-verify值
            scontent: function(value) {
                return layedit.sync(layer_index);
            }
            , title: function(value){
                if(value.length < 3){
                    return '昵称至少得3个字符啊';
                }
            }

        });

        //监听提交
        form.on('submit(edit)', function(data){
            console.log(JSON.stringify(data.field));
            $.ajax({
                url:"/article/edit",
                dataType:"json",
                data:data.field,
                success:function (data) {
                    if(data.code==0){
                        layer.alert("修改成功", {icon: 6},function () {
                            parent.location.reload();
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                    else {
                        layer.alert("修改失败");
                    }
                }
            });

            return false;
        });


    });

</script>

</body>

</html>