<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <input name="id" type="hidden" th:value="${question1.id}">
              <fieldset class="layui-elem-field">
            <legend>标题</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${question1.qtitle}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>作者</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${question1.qwriter}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>时间</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${question1.qtime}">
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>内容</legend>
            <div class="layui-field-box">
                <div class="markitup-box"  style="cursor: pointer;" th:utext="${question1.qarticle}">
                </div>
            </div>
        </fieldset>
    </form>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>评论</legend>
</fieldset>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">查看全部</div>
            <div class="layui-card-body">
<div class="aw-mod aw-explore-list">
    <div class="mod-body">
        <div class="aw-common-list">
            <div class="aw-item question" data-topic-id="" th:each="a:${comments1}">
                <a class="aw-user-name hidden-xs" data-id="1" href="http://zhishiku.little-star.me/?/people/1" rel="nofollow"><img src="../static/portal/index_files/01_avatar_max.jpg" alt=""></a>	<div class="aw-question-content">
                <h4>

                    <div class="layui-field-box">
                        <div class="markitup-box"  style="cursor: pointer;" th:utext="${a.comment}">
                        </div>
                    </div>
                </h4>
                <p>
                    <a  class="aw-user-name" th:text="${a.username}" >发表了评论</a> <span class="text-color-999" th:text="${a.time}"></span>
                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="layui-row layui-col-space15">
        <form class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">发表评论</div>
                <div class="layui-form">
                    <div class="layui-form-item">
                     <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>作者
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="username" required="" readonly="readonly"
                               autocomplete="off" class="layui-input" th:value="${session.sessionuser.uname}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_qid" class="layui-form-label">
                        <span class="x-red">*</span>题号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_qid" name="qid" required="" readonly="readonly"
                               autocomplete="off" class="layui-input" th:value="${question1.id}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_time" class="layui-form-label">
                        <span class="x-red">*</span>发布时间
                    </label>
                    <!--<div class="layui-input-inline"></div>-->
                    <input type="text" id="L_time" name="time" required="" lay-verify="time" readonly="readonly"
                           autocomplete="off" class="layui-input" style="width: 190px;height: 37px">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">回复</label>
                    <div class="layui-input-block">
                        <textarea id="demo" lay-verify="comment" name = "comment" style="display: none;"></textarea>
                    </div>
                </div>

                    <div class="layui-form-item" style="text-align: center;">
                     <button  class="layui-btn"  lay-filter="add" lay-submit="">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--<table id="demodemo" class="layui-table" lay-filter="test"></table>-->
<script>
    var layer_index;
    var layedit;
    var laydate;
    layui.use('layedit', function(){
        layedit = layui.layedit;
        layer_index= layedit.build('demo'); //建立编辑器
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#L_time',// input里时间的Id
            value: new Date(),
            done: function (value, date) {
            }
        });
    });
   </script>
    <script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

            //自定义验证规则
            form.verify({
                //detail富文本域中的lay-verify值
                comment: function(value) {
                    return layedit.sync(layer_index);
                }
            });

        //监听提交
        //监听提交
        form.on('submit(add)', function(data){
            console.log(layedit.getContent(layer_index));
            console.log(data);
            console.log(JSON.stringify(data.field));
            $.ajax({
                url:"/comment/add",
                dataType:"json",
                data:data.field,
                success:function (data) {
                    if(data.code==0){
                        layer.alert("增加成功");
                        //刷新当前页面
                        layer.msg(data.msg, {icon:1,time:1000},function(){
                            setTimeout('window.location.reload()',1000);
                        });
                        /*, {icon: 6},function () {
                                                    parent.location.reload();
                                                    // 获得frame索引
                                                    var index = parent.layer.getFrameIndex(window.name);
                                                    //关闭当前frame
                                                    parent.layer.close(index);
                                                });*/
                    }
                    else {
                        layer.alert("增加失败");
                    }
                }
            });

            return false;
        });

    });
    </script>
<!--<script>
    layui.use('table', function() {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demodemo'
            , height: 312
            , url: '/comment/selectCommentsByid' //数据接口
            , page: true //开启分页

            , cols: [
                [ //表头
                    {field: 'comment', title: '头像', width: 100, fixed: 'left'}
                    , {field: 'username', title: '名字', width: 100, sort: true}
                ]
            ]
        });
    })
</script>-->
</body>

</html>

</html>